{% extends "base.html" %}
{% load static %}
{% block title %}Scenarios{% endblock %}

{% block content %}
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold">Emergency Scenarios</h2>
        </div>
        <p class="text-muted">Test your skills in realistic emergency situations. Make quick decisions and learn from the outcomes.</p>

        <!-- Scenario Cards -->
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card scenario-card">
                    <img src="{% static 'images/restaurant_1.png' %}" class="card-img-top" alt="Cardiac Arrest Emergency">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Restaurant </h5>
                            <span class="badge badge-intermediate">Intermediate</span>
                        </div>
                        <p class="card-text text-muted">Act fast to save a life during a dining emergency.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="text-muted"><i class="fa-regular fa-clock"></i> 2 min &nbsp; <i class="fas fa-trophy"></i> 100 points</p>
                            <a href="{% url 'RestrauntScenario' %}" class="btn btn-danger">Start Scenario</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card scenario-card">
                    <img src="{% static 'images/hiking_1.png' %}" class="card-img-top" alt="Hiking emergency">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Hiking Emergency</h5>
                            <span class="badge badge-intermediate">Intermediate</span>
                        </div>
                        <p class="card-text text-muted">Handle emergency during adventure activities.</p>
                        <div class="d-flex justify-content-between align-items-center" >
                            <p class="text-muted"><i class="fa-regular fa-clock"></i> 2 min &nbsp; <i class="fas fa-trophy"></i> 100 points</p>
                            <a href="{% url 'HikingScenario' %}" class="btn btn-danger">Start Scenario</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card scenario-card">
                    <img src="{% static 'images/burns_1.png' %}" class="card-img-top" alt="Hiking emergency">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Kitchen Emergency</h5>
                            <span class="badge badge-intermediate">Intermediate</span>
                        </div>
                        <p class="card-text text-muted">Handle emergency during a cooking disaster.</p>
                        <div class="d-flex justify-content-between align-items-center" >
                            <p class="text-muted"><i class="fa-regular fa-clock"></i> 1 min &nbsp; <i class="fas fa-trophy"></i> 100 points</p>
                            <a href="{% url 'BurnsScenario' %}" class="btn btn-danger">Start Scenario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}
